{% extends 'base.html' %} {% block title %}
Se connecter
{% endblock %} {% block content %}
<div class="form-container">
    <h1 class="title">Se connecter</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div>{{ form.email.label }}
            {{ form.email() }}</div>
        <div>{{ form.password.label }}
            {{ form.password() }}</div>
        <div>
            <input type="submit" value="Se connecter" aria-describedby="invalid-helper" />
            <small id="invalid-helper" class="form-error" style="display: {{ 'block' if login_failed else 'none' }};">
                Mauvais email ou mot de passe
            </small>
        </div>
    </form>
</div>
{% endblock %}